/* collapsible-block-5.css */
/* 2022-01-29 usp */

[cbc] {
	margin-left : -30px ;
	}

[cbc]+div {
	margin-left: -30px ;
	padding-left : 30px ;
	overflow-y : hidden ;
	}

[cbc]:before {
    content : ""  ;
    display : inline-block ;
    height : 0.8em ;
    width : 30px ;
    background-size : contain ;
    background-repeat : no-repeat ;
	background-position-x : center ;
	margin-bottom : -0.2ex ;
	}

[cbc="expanded"]:before {
    background-image: url("orange-minus.svg") ;
	}

[cbc="collapsed"]:before {
    background-image : url("orange-plus.svg") ;
	}

[cbc="collapsed"] + * + [cbc] {
	margin-top: 0px ;
	}

[cbc]+div>*:first-child { margin-top : 0px }

[cbc="expanded"][active]:before {
    background-image : url("/inc/collapsible/orange-minus-active.svg") !important ;
	}

[cbc="collapsed"][active]:before {
    background-image : url("/inc/collapsible/orange-plus-active.svg") !important ;
	}

h1[cbc], h2[cbc], h3[cbc], h4[cbc], h5[cbc] {
	margin-top : 30px ;
	}
h1[cbc]:before, h2[cbc]:before, h3[cbc]:before, h4[cbc]:before, h5[cbc]:before {
    width : 40px ;	
	}

ul.collapsible {
	border : 1px none red ;	
	margin : 0px ;
	padding-left : 25px ;
	}
ul.collapsible li {
	list-style-type : none ;
	}
ul.collapsible li::before {
	}
ul.collapsible ul {
	overflow-y : hidden ;
	margin-left : 7px ;
    }
[cbc-default="collapsed"] ul {
	height : 0px ;
    }

dl.collapsible {
	margin-left : -30px ;
	}
dl.collapsible > dt {
	margin-left : 0px ;
	}
dl.collapsible > dd {
	overflow-y : hidden ;
	margin-left : 20px ;
	padding-left : 30px ;
	}
dd > dl.collapsible {
	margin-top : 0px ;
	margin-bottom : 0px ;
	}

